html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.div-block {
  display: block;
    position: relative;
    border: 4px;
    border-style: solid;
    border-color: #d81616;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255);
  width: 50vw;
  height: 50vh;

}

body {
    color:rgb(0,0,0);
    text-align: center;
     font-family: Helvetica;
  text-transform: lowercase;
    line-height: 1.4;
}

#toggle{
    margin-top: 1.5vh;
    font-size: 14px;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgba(255,255,255);
    border:none;
}

#toggle:hover{
 cursor:url(hourglass%20cursor.png), auto;
    
}
#content{
  display:none;
}

